body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 750px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

button {
    background-color: #2563eb;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #1e40af;
}

.episode {
    padding: 12px;
    background: #eef2ff;
    border-radius: 8px;
    margin-bottom: 12px;
}
